accelerate==1.10.1
datasets==4.0.0
tensorboard==2.20.0
tiktoken==0.11.0
tokenizers==0.22.0
torch==2.8.0+cu128
torchdata==0.11.0
torchmetrics==1.8.1
torchvision==0.23.0+cu128
tqdm==4.67.1
transformers==4.56.0
pyyaml>=6.0